<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<mat-drawer-container class="container">
  <mat-drawer class="sidebar" mode="side" opened>
      <mat-list role="list">
        <br>
        <div mat-subheader><h3>ENCERACUP</h3></div>
        <mat-list-item role="listitem">
          <a>
            <span class="material-symbols-outlined title">groups</span>
            Times
          </a>
        </mat-list-item>

        <mat-list-item role="listitem">
          <a>
            <span class="material-symbols-outlined title">table_rows</span>
            Grupos
          </a>
        </mat-list-item>
      </mat-list>

    <!-- <span> Times</span>
    <button mat-icon-button color="primary">

    </button> -->
  </mat-drawer>
  <mat-drawer-content>
    <app-time></app-time>
  </mat-drawer-content>
</mat-drawer-container>
